@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);

.md-perspective body{background:#222;-webkit-perspective:600px;-moz-perspective:600px;perspective:600px}
.md-modal{position:fixed;top:50%;left:50%;width:50%;max-width:305px;min-width:305px;height:auto;z-index:2000;visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}
.md-show{visibility:visible}
.md-overlay{position:fixed;width:100%;height:100%;visibility:hidden;top:0;left:0;z-index:1000;opacity:0;background:rgba(0,0,0,0.6);-webkit-transition:all .3s ease-out-moz;-moz-transition:all .3s;transition:all .3s}
.md-show ~ .md-overlay{opacity:1;visibility:visible}
.md-content{color:#fff;background:#fff;position:relative;border-radius:3px;margin:0 auto;}
.md-content-wrapper{padding:0 20px 20px;}
.md-content h3{text-align:center;font-size:2.4em;font-weight:300;opacity:0.8;background:rgba(0,0,0,0.1);border-radius:3px 3px 0 0;margin:0;padding:.4em}
.md-effect-7{top:10%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
.md-effect-7 .md-content{-webkit-transform:translateY(-200%);-moz-transform:translateY(-200%);-ms-transform:translateY(-200%);transform:translateY(-200%);-webkit-transition:all .3s ease-out-moz;-moz-transition:all .3s;transition:all .3s;opacity:0}
.md-show.md-effect-7 .md-content{-webkit-transform:translateY(0%);-moz-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%);border-radius:3px;opacity:1}
.md-modal-footer {  padding: 19px 20px 20px;  margin-top: 15px;  text-align: right;  border-top: 1px solid #e5e5e5;; overflow:hiden;}
.md-modal-footer .btn + .btn {  margin-bottom: 0;  margin-left: 0;}
.md-modal-footer .btn-group .btn + .btn {  margin-left: -1px;}
.md-modal-footer .btn-block + .btn-block {  margin-left: 0;}
.md-modal-footer  a{font-size:12px;margin-top: 9px; text-decoration:none}
.md-modal-header h4{padding:20px;;color:#4a4a4a; font-weight:600;font-size:16px;}
.md-modal-header .close {cursor: pointer;position: absolute;right: 10px;text-decoration: none;top:10px;z-index: 9999;background: url("images/close.png") no-repeat scroll 0 0 transparent;display: block;height: 18px;width: 18px;/*text-indent: -999em;*/border:none}
#agreement-modal-body{max-height:200px;overflow:hidden; overflow-y:auto}

.left{float:left !important;}
.right{float:right !important;}	
.clear{clear:both !important;}
.hidden{display:none}
.move-columns{margin-bottom:15px;}

#floatingCirclesG{position:relative;width:64px;height:64px;-moz-transform:scale(0.6);-webkit-transform:scale(0.6);-ms-transform:scale(0.6);-o-transform:scale(0.6);transform:scale(0.6);margin: 0 auto;top: 50%;}
.f_circleG{position:absolute;background-color:#FFFFFF;height:12px;width:12px;-moz-border-radius:6px;-moz-animation-name:f_fadeG;-moz-animation-duration:0.72s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-webkit-border-radius:6px;-webkit-animation-name:f_fadeG;-webkit-animation-duration:0.72s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-ms-border-radius:6px;-ms-animation-name:f_fadeG;-ms-animation-duration:0.72s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-o-border-radius:6px;-o-animation-name:f_fadeG;-o-animation-duration:0.72s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;border-radius:6px;animation-name:f_fadeG;animation-duration:0.72s;animation-iteration-count:infinite;animation-direction:linear;}
#frotateG_01{left:0;top:26px;-moz-animation-delay:0.27s;-webkit-animation-delay:0.27s;-ms-animation-delay:0.27s;-o-animation-delay:0.27s;animation-delay:0.27s;}
#frotateG_02{left:8px;top:8px;-moz-animation-delay:0.36s;-webkit-animation-delay:0.36s;-ms-animation-delay:0.36s;-o-animation-delay:0.36s;animation-delay:0.36s;}
#frotateG_03{left:26px;top:0;-moz-animation-delay:0.45s;-webkit-animation-delay:0.45s;-ms-animation-delay:0.45s;-o-animation-delay:0.45s;animation-delay:0.45s;}
#frotateG_04{right:8px;top:8px;-moz-animation-delay:0.54s;-webkit-animation-delay:0.54s;-ms-animation-delay:0.54s;-o-animation-delay:0.54s;animation-delay:0.54s;}
#frotateG_05{right:0;top:26px;-moz-animation-delay:0.63s;-webkit-animation-delay:0.63s;-ms-animation-delay:0.63s;-o-animation-delay:0.63s;animation-delay:0.63s;}
#frotateG_06{right:8px;bottom:8px;-moz-animation-delay:0.72s;-webkit-animation-delay:0.72s;-ms-animation-delay:0.72s;-o-animation-delay:0.72s;animation-delay:0.72s;}
#frotateG_07{left:26px;bottom:0;-moz-animation-delay:0.81s;-webkit-animation-delay:0.81s;-ms-animation-delay:0.81s;-o-animation-delay:0.81s;animation-delay:0.81s;}
#frotateG_08{left:8px;bottom:8px;-moz-animation-delay:0.9s;-webkit-animation-delay:0.9s;-ms-animation-delay:0.9s;-o-animation-delay:0.9s;animation-delay:0.9s;}

@-moz-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-webkit-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-ms-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-o-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}

.opc-ajax-loader{background-color: rgba(0, 0, 0, 0.6);height: 100%;left: 0;position: fixed;top: 0;width: 100%;display:none;z-index: 10000 !important;}
.opc-checkout-cart{}

/** BASE OPC ELEMENTS **/
.opc-wrapper-opc{overflow: hidden;margin: 0 auto;}
.opc-wrapper-opc *{font-family: 'Open Sans', Arial, Helvetica;color:#393939;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.opc-wrapper-opc label{color:#393939;font-weight:normal;font-size:14px;line-height: 1.25em;margin-bottom:2px;text-align: left;}
.opc-wrapper-opc h3{font-weight:600;color:#3b3b3b; font-size:16px;text-align:left;border-bottom:2px solid #ff6600;padding-bottom:8px;line-height: 1;margin-bottom: 20px; text-transform:uppercase; }
.opc-wrapper-opc .validation-advice{font-weight:normal;text-align: left;color: red;}
.opc-wrapper-opc h2{color:#4a4a4a; font-size:30px; font-weight:600;text-align:left}
.opc-wrapper-opc p{font-size:14px; color:#717171;text-align:left;margin: 0 0 10px;}
.opc-wrapper-opc input{box-shadow:none;background: none}
.opc-wrapper-opc input:focus{box-shadow:none;}
.opc-wrapper-opc .opc-col-left{width:30%;float: left;margin-right:20px;}
.opc-wrapper-opc .opc-col-center{float: left;width:30%;margin-right:20px;margin-left:20px; margin-bottom:20px;}
.opc-wrapper-opc .opc-col-right{float: left;width: 30%;margin-left:20px;}
.opc-wrapper-opc a:hover{color:#00909e;}
.opc-wrapper-opc input.input-text:focus, .opc-wrapper-opc select:focus, .opc-wrapper-opc  textarea:focus {background-color: #fff;}
.opc-wrapper-opc span.validation-passed, .opc-wrapper-opc div.validation-passed{background-image:none}


/*FIX FOR INFORTIS THEMES*/
#root-wrapper .in-col1 .opc-wrapper-opc input{height:36px !important}

/** LOGIN FORM **/
.opc-wrapper-opc .text-login{color:#6b6b6b; font-size:14px; font-weight:400;}
.opc-wrapper-opc .text-login a{color:#ff6600;text-transform:uppercase;font-weight:600;text-decoration: none;cursor:pointer;}
.opc-wrapper-opc .form-list .input-box{width:100%}
.opc-wrapper-opc .form-list .input-box input[type="text"],
.opc-wrapper-opc .form-list .input-box input[type="password"]{width:100%}

/** FORGOT PASSWORD FORM **/
.opc-wrapper-opc #form-validate-email p{font-size:14px;}
.opc-wrapper-opc  .back-link{float: left;}


/** BILLING AND SHIPPING FORM **/
.opc-wrapper-opc .opc-col-left li{}
.opc-wrapper-opc .opc-col-left .input-box {width:280px;padding:0}
.opc-wrapper-opc .opc-col-left input[type="text"],
.opc-wrapper-opc .opc-col-left input[type="password"]{border:1px solid #d8d8d8; height:25px;padding:0;padding-left:5px;}
.opc-wrapper-opc .opc-col-left .wide select{border:1px solid #d8d8d8; height:24px;padding:0;width:100%;padding-left:5px;}
.opc-wrapper-opc .opc-col-left .customer-name .field{width:132px;}
.opc-wrapper-opc .opc-col-left .customer-name .field:first-child{margin-right:14px;}
.opc-wrapper-opc .opc-col-left .customer-name .input-box{width:132px;}
.opc-wrapper-opc .opc-col-left .customer-name input[type="text"]{width:130px;}
.opc-wrapper-opc .opc-col-left .wide{width:100%}
.opc-wrapper-opc .opc-col-left .wide .input-box {width:100%;padding:0}
.opc-wrapper-opc .opc-col-left .wide input[type="text"]{border:1px solid #d8d8d8; height:22px;padding:0;width:100%;padding-left:5px;}
.opc-wrapper-opc .opc-col-left .fields .field{ clear: none;float: left;width: 100%;}
.opc-wrapper-opc .opc-col-left .fields .field:first-child{/*margin-right:21px;*/}
.opc-wrapper-opc .opc-col-left .fields .input-box{width:100%;}
.opc-wrapper-opc .opc-col-left .fields input[type="text"],
.opc-wrapper-opc .opc-col-left .fields input[type="password"]{width:100%;}
.opc-wrapper-opc .opc-col-left .fields select{width:100%; height:25px;}
.opc-wrapper-opc .opc-col-left .control{text-align: left;}
.opc-wrapper-opc .opc-col-left .control label{font-size: 13px}
.opc-wrapper-opc .opc-col-left .notice{font-size:13px; color:#6e6e6e; font-style: italic;margin-bottom:5px}
.opc-wrapper-opc .opc-col-left label.required:after,
.opc-wrapper-opc .opc-col-left span.required:after {
  color: red;
  content: " *";
  font-family: "OpenSansSemibold";
  font-size: 14px;
  font-weight: normal;
}

.opc-wrapper-opc .opc-data-table{width:100%;}
.opc-wrapper-opc .opc-data-table thead th{color:#1c1c1c; font-size:15px;padding:0 10px 7px;border-bottom:1px solid #eaeaea}
.opc-wrapper-opc .opc-data-table thead tr th:first-child{padding-left:0}
.opc-wrapper-opc .opc-data-table thead tr th:last-child{padding-right:0}
.opc-wrapper-opc .opc-data-table tbody td{padding:10px;border-bottom:1px solid #eaeaea;color:#676767; font-size:14px;font-weight:400}
.opc-wrapper-opc .opc-data-table tbody tr td:first-child{padding-left:0}
.opc-wrapper-opc .opc-data-table td.last{padding-right:0}
.opc-wrapper-opc .opc-data-table tbody td .price{color:#676767; font-size:14px;font-weight:400}
.opc-wrapper-opc .opc-data-table tbody td h3{color:#676767; font-size:14px;font-weight:400;border:none;margin:0;padding:0}
.opc-wrapper-opc .opc-data-table tfoot td{padding:10px 0;border-bottom:1px solid #eaeaea;color:#676767; font-size:14px;font-weight:normal;vertical-align: middle;}
.opc-wrapper-opc .opc-data-table tfoot td strong .price{color:#3f3f3f;font-size:14px;}
.opc-wrapper-opc .opc-data-table tfoot th{padding:10px 0;border-bottom:1px solid #eaeaea;color:#676767; font-size:14px;font-weight:normal;vertical-align: middle;}
.opc-wrapper-opc .opc-data-table tfoot th strong .price{color:#3f3f3f;font-size:14px;}
.opc-wrapper-opc .opc-data-table tfoot tr:last-child td{border-bottom:none}


/** GIFT PAYMENTS METHODS BLOCK */*
.opc-wrapper-opc .payment-block{margin-top:40px; position: relative;}
.opc-wrapper-opc .payment-block.clear-margin{margin-top:0}
.opc-wrapper-opc .payment-block .tool-tip{top:0 !important}
.opc-wrapper-opc .payment-block dl,
.opc-wrapper-opc .payment-block dt{text-align:left;font-size:14px;color:#000000;}
.opc-wrapper-opc .payment-block dt{margin: 0px 0 13px;}
.opc-wrapper-opc .payment-block dt label{text-align:left;font-size:14px;color:#000000}
.opc-wrapper-opc .payment-block h3{}
.opc-wrapper-opc .payment-block li{margin-bottom:12px;}
.opc-wrapper-opc .payment-block .form-list{padding-left:0}
.opc-wrapper-opc .payment-block .form-alt{color: #6E6E6E;font-size: 13px;font-style: italic;margin-bottom: 5px;}
.opc-wrapper-opc .payment-block .sp-methods .form-list{padding:0}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward,
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward dt{margin-top:0}
.opc-wrapper-opc .payment-block #customerbalance_placer{margin-bottom:13px}
.opc-wrapper-opc .payment-block #reward_placer{margin-bottom:13px}

/** GIFT SHIPPING METHODS BLOCK */*
.opc-wrapper-opc .shipping-block{}
.opc-wrapper-opc .shipping-block dl,
.opc-wrapper-opc .shipping-block dt{text-align:left;font-size:14px;color:#000000}
.opc-wrapper-opc .shipping-block dt{margin: 13px 0 5px;}
.opc-wrapper-opc .shipping-block dt label{text-align:left;font-size:14px;color:#000000}
.opc-wrapper-opc .shipping-block p{font-size:13px; color:#6e6e6e; font-style: italic;margin-top:20px}
.opc-wrapper-opc .shipping-block h3{margin-bottom:0}
.opc-wrapper-opc .validation-advice{background:none;padding-left:0;color:red;}


/** GIFT DISCOUNT BLOCK */*
.opc-wrapper-opc #checkout-review-submit .agree{padding-left:0;padding-bottom:0}
.opc-wrapper-opc #checkout-review-submit .agree label{color:#676767; font-size:14px;font-weight:normal;}
.opc-wrapper-opc #checkout-review-submit li{margin-bottom:0;margin-top: 0;}
.opc-wrapper-opc #checkout-review-submit .checkout-agreements{padding:0}
.opc-wrapper-opc #checkout-review-submit .view-agreement{text-decoration:none;color:#676767; font-size:14px;cursor:pointer;font-weight: normal;}
.opc-wrapper-opc #checkout-review-submit .view-agreement:hover{color:#00909e;}
.opc-wrapper-opc #checkout-review-submit .agreement-content{margin-top:20px;margin-bottom:0}


/** GIFT DISCOUNT BLOCK */*
.opc-wrapper-opc .discount-block{margin-top: 40px;}
.opc-wrapper-opc .discount-block .input-box {width:100%;padding:0}
.opc-wrapper-opc .discount-block input[type="text"]{border:1px solid #d8d8d8; height:30px;padding:0; margin-top:10px; width:100%;}
.opc-wrapper-opc .discount-block .button{display:block;/*height:44px;*/border:none;margin: 0 auto;float:left; border-radius:5px; min-width:90px !important; padding-bottom:10px; padding-top:9px; }
.opc-wrapper-opc .discount-block .button span{/*background:#ff6600;height:40px;line-height:40px;-webkit-border-radius: 3px;border-radius: 3px;*/border:none;padding: 0;}
.opc-wrapper-opc .discount-block .button span span{/*background:#ff6600;padding:0 20px;text-shadow:0 1px 1px #02484f;*/color:#ffffff;font-size:16px;font-weight:bold;text-transform:capitalize;}
.opc-wrapper-opc .discount-block .buttons-set{margin-top:0;overflow:hidden;}
.opc-wrapper-opc .discount-block .appl-ycoupon{float:left}
.opc-wrapper-opc .discount-block .remove-coupon{float: right !important;}
.opc-wrapper-opc .discount-block .discount { border:1px solid #bdbdbd; padding:20px; }

.design_package_rwd .discount-block .button{display:block;height:30px;line-height:19px;border:none;margin: 0 auto;float:left;}
.design_package_rwd .discount-block .button span{background:none;border:none;height:auto;line-height:inherit;-webkit-border-radius: 0px;border-radius: 0px;padding: 0;}
.design_package_rwd .discount-block .button span span{background:none;color:#ffffff;font-size:14px;font-weight:normal;text-transform:uppercase;text-shadow:none;padding:0 20px}
.design_package_rwd .discount-block .buttons-set{margin-top:10px;overflow:hidden;}


/** GIFT MESSAGES BLOCK */*
.opc-wrapper-opc .gift-messages{margin-top:40px}
.opc-wrapper-opc .gift-messages-form .item .details .form-list .field{/*width:170px;*/width:100%;padding:0}
.opc-wrapper-opc .gift-messages-form .item .details .form-list .input-box {/*width:170px;*/width:100%;padding:0}
.opc-wrapper-opc .gift-messages-form .item .details .form-list li.wide .input-box {/*width:168px;*/width:100%;padding:0}
.opc-wrapper-opc .gift-messages-form .item .details .form-list textarea{border:1px solid #d8d8d8; height:80px;padding:0;/*width:163px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .details .form-list li.wide  textarea{border:1px solid #d8d8d8; height:80px;padding:0;/*width:167px;*/ width:100%} 
.opc-wrapper-opc .gift-messages-form .item .details .form-list .input-box{/*width:170px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .details .form-list input[type="text"]{/*width:163px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .number{font-weight:normal}
.opc-wrapper-opc .gift-messages-form li.wide .input-box{width:100%}
.opc-wrapper-opc .gift-messages-form li.wide textarea{width:100%}

.opc-wrapper-opc .gift-messages-form li .field{width:100%}
.opc-wrapper-opc .gift-messages-form li .input-box{width:100%}
.opc-wrapper-opc .gift-messages-form li input{width:100%}
.opc-wrapper-opc .gift-messages-form li textarea{width:100%}

/** CUSTOMER OPC MESSAGE BLOCK **/
.opc-message-wrapper{background-color: rgba(0, 0, 0, 0.6);display: none;height: 100%;left: 0;position: fixed;top: 0;width: 100%;z-index: 10001;}
.opc-messages{	-moz-box-sizing: border-box;	-webkit-box-sizing: border-box;	box-sizing: border-box;	padding:30px;	position:absolute;	display:none;	-webkit-border-radius: 10px;	border-radius: 10px;    color:#404040;    display: block;    font-size: 16px;    left: 50%;    margin-left: -205px;    margin-top: -20px;    position: absolute;    text-align: left;    top: 30%;    width: 410px;	-webkit-box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);	box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);	background-color: #fefefe ;	font-weight:normal;z-index: 1002;}
.opc-message-container{text-align: center;}
.opc-messages-action{text-align:center;margin-top:20px}
.opc-messages-action .button{display:block;height:36px;border:none;margin: 0 auto; border-radius:5px;}
.opc-messages-action .button span{/*background:#00909e;border:none;height:40px;line-height:40px;-webkit-border-radius: 3px;border-radius: 3px;*/}
.opc-messages-action .button span span{/*background:#00909e;text-shadow:0 1px 1px #02484f;padding:0 20px;*/color:#ffffff;font-size:16px;font-weight:bold;text-transform:uppercase;}
.close-message-wrapper {background: url("images/close.png") no-repeat scroll 0 0 transparent;display: block;height: 8px;position: absolute;width: 8px;z-index: 1005;right: 18px;top: 15px;cursor:pointer}

.design_package_rwd .opc-messages-action .button span{background:none !important;border:none;height:auto !important;line-height:24px !important;-webkit-border-radius: 0 !important;border-radius: 0 !important;}
.design_package_rwd .opc-messages-action .button span span{background:none !important;color:#ffffff;font-size:16px;font-weight:bold;text-transform:uppercase;text-shadow:0;padding:0 20px}

/** BUTTONS */
.opc-wrapper-opc .btn{height:35px;border:none;margin: 0 auto;cursor:pointer; background:#ff6600; border-radius:5px; margin-left:5px; }
.opc-wrapper-opc .btn span{/*background:#00909e;border:none;height:35px;line-height:35px;-webkit-border-radius: 3px;border-radius: 3px;display:block;padding: 0;*/}
.opc-wrapper-opc .btn span span{/*background:#00909e;text-shadow:0 1px 1px #02484f;padding:0 10px;*/color:#ffffff;font-size:12px;font-weight:bold;text-transform:uppercase;}
.opc-wrapper-opc .btn:hover { background:#454545; }
.opc-wrapper-opc .btn-checkout{/*display:block;width:100%;height:45px;*/ border-radius:5px;}
.opc-wrapper-opc .btn-checkout span{/*background:#00909e;-webkit-border-radius: 3px;border-radius: 3px;width:100%;line-height: 46px;padding: 0 !important;height: 45px;padding: 0;*/}
.opc-wrapper-opc .btn-checkout span span{/*background:#00909e;text-shadow:0 1px 1px #02484f;*/color:#ffffff;font-size:16px;font-weight:bold;text-transform:uppercase;}
.opc-wrapper-opc .buttons-set{border:none;margin-top:10px}

.design_package_rwd .btn-checkout{padding:0 !important;}
.design_package_rwd .btn-checkout span{/*background:none;*/display:block;-webkit-border-radius: 0;border-radius: 0;width:100%;line-height: 45px;padding: 0 !important;height: auto;}
.design_package_rwd .btn-checkout span span{/*background:none;*/color:#ffffff;font-size:16px;font-weight:bold;text-transform:uppercase;text-shadow:none;}

.opc-wrapper-opc .btn-checkout.button-disabled{}
.opc-wrapper-opc .btn-checkout.button-disabled span span{background: url(images/ajax-loader-button.png) no-repeat scroll 10px 10px transparent;}
.opc-wrapper-opc .btn-checkout.button-disabled span {cursor: default;/*background-color:rgba(0,144,158, .3);*/ text-shadow:none}

.design_package_rwd .btn-checkout.button-disabled{background-color:transparent;}

.opc-wrapper-opc .opc-newsletter{margin-top:10px;}
.opc-wrapper-opc .opc-newsletter li{margin-bottom:0}
.opc-wrapper-opc .opc-newsletter li label{color:#676767; font-size:14px;font-weight:normal;}

.control .input-box { width:auto !important; }
#opc-review-block { padding:20px; border:1px solid #bdbdbd; }
.opc-data-table thead th { color:#ff6600 !important; }
/** COMMENT BLOCK **/
.opc-wrapper-opc .comment-block{margin-top:40px;}
.opc-wrapper-opc .comment-block textarea{width:100%;height:71px;resize: none;}

.not_australia { float:right; color: #ff6501; }
.not_australia span { display:block !important; }
.not_australia a { color: #ff6501; }
.not_australia a:hover { color: #ff6501; text-decoration:none; }

@media (max-width: 1250px) {
	.opc-wrapper-opc .opc-col-left .fields .field:first-child {
    	margin-right: 20px;
	}
}

@media (max-width: 1180px) {
	.opc-wrapper-opc .opc-col-left .fields .field:first-child {
    	margin-right: 15px;
	}
}

@media (max-width: 980px) {
	.opc-wrapper-opc .opc-col-left{width:100%;float:none;margin-bottom:30px;margin-left:0}
	.opc-wrapper-opc .opc-col-center{width:100%;float:none;margin-bottom:30px;margin-left:0}
	.opc-wrapper-opc .opc-col-right{width:100%;float:none;margin-bottom:30px;margin-left:0}
	
	.opc-wrapper-opc .opc-col-left .fields .field{float:right;}
	.opc-wrapper-opc .opc-col-left .fields .field:first-child{float:left;}
	.opc-wrapper-opc .opc-data-table{width:100%;}
}


@media (min-width: 768px) {
	.modal-dialog {width: 305px;    margin: 30px auto;  }
	#agreement-dialog .modal-dialog{width:600px}
	.modal-content {-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);  }
	.modal-sm {   width: 300px;}
}