
<?php if ($this->canShowBlock()): ?>
    <?php if (!$this->getRequest()->isAjax()): ?>
    <div id="layered-navigation">
    <?php endif; ?>
    <div class="block block-layered-nav<?php if (!$this->getLayer()->getState()->getFilters()): ?> block-layered-nav--no-filters<?php endif; ?>">
        <div class="block-title">
            <strong><span><?php echo $this->__('Shop By') ?></span></strong>
        </div>
        <div class="block-content toggle-content">
            <?php echo $this->getStateHtml() ?>
            <?php if ($this->getLayer()->getState()->getFilters()): ?>
                <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
            <?php endif; ?>
            <?php if($this->canShowOptions()): ?>
                <p class="block-subtitle block-subtitle--filter"><?php echo $this->__('Filter') ?></p>
                <dl id="narrow-by-list">
                    <?php $_filters = $this->getFilters() ?>
                   
                   
                   
                    
                    <?php $_helper = Mage::helper('catalog/category') ?>
                        <?php $_categories = $_helper->getStoreCategories() ?>
                        <?php $currentCategory = Mage::registry('current_category');
                        //$currentCategory->addAttributeToFilter('level',2);
                       /* echo $currentCategory->getId(); */
                        
                        $category = Mage::registry('current_category');
                        $it = 10; //Amount of iterations before script gives up
                        
                        if ($category) {
                            while($category->getLevel() != 2 && $it > 0) {
                                $category = $category->getParentCategory();
                            
                                if (!$category) {
                                    //break;
                                }
                            }
                            
                            if ($category) {
                                $cattoshow= $category->getName();
                            }
                            else {
                               // echo 'Cannot find parent category';
                            }
                        }
                      
                        ?>
                        <?php if (count($_categories) > 0): ?>
                            
                            <dt style="<?php if ( $cattoshow=='Spare Parts Kits'){ echo 'display:none;';}?>"><?php echo $this->__('Category') ?></dt>
                            
                                <?php foreach($_categories as $_category): ?>
                                    <dd style="<?php if ($cattoshow!=$_category->getName() || $_category->getId()==10){ echo 'display:none;';}?>">
                                        <a href="<?php echo $_helper->getCategoryUrl($_category) ?>">
                                            <?php //echo $_category->getName() ?>
                                        </a>
                                        <?php //if ($currentCategory->getId() && $currentCategory->getId() == $_category->getId()): ?>
                                            <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
                                            <?php $_subcategories = $_category->getChildrenCategories() ?>
                                            <?php if (count($_subcategories) > 0): ?>
                                                <ol>
                                                    <?php foreach($_subcategories as $_subcategory): ?>
                                                        <li>
                                                            <a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>">
                                                                <?php echo $_subcategory->getName() ?><span class="count"> (<?php echo $_subcategory->getProductCount() ?>)</span>
                                                            </a>
                                                        </li>
                                                    <?php endforeach; ?>
                                                </ul>
                                            <?php endif; ?>
                                        <?php //endif; ?>
                                    </dd>
                                <?php endforeach; ?>
                            
                        <?php endif; ?>
                                            
                                       


                    
                     <?php foreach ($_filters as $_filter): ?>
                        <?php if($_filter->getItemsCount() && $_filter->getName()!='Category' && $cattoshow=='Spare Parts Kits'): ?>
                            <dt><?php echo $this->__($_filter->getName()) ?></dt>
                            <dd><?php echo $_filter->getHtml() ?></dd>
                        <?php endif; ?>
                    <?php endforeach; ?>
                    
                </dl>
                <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            <?php endif; ?>
        </div>
    </div>
    <?php if (!$this->getRequest()->isAjax()): ?>
    </div>
    <?php endif; ?>
<?php endif; ?>
