<?php
$collection = Mage::getModel('catalog/product')->getCollection();
$collection->addFieldToFilter('visibility', Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH);
$collection->addFieldToFilter('is_featured', '1');
//echo $collection->count();
foreach ($collection as $product)
{
    $_product = Mage::getModel('catalog/product')->load($product->getId());
    ?>
   
   <div class="featured_products_item">
                        <div class="product_pic">
                            <a href="<?php echo $_product->getProductUrl() ?>">
                            <img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(90,120);?>" alt=""/>
                            </a>
                        </div>
                        <h3><?php echo $_product->getName() ?></h3>
                        <div class="model_no"><?php echo $_product->getSku() ?></div>
                        <div class="price"><?php echo Mage::helper('core')->currency($_product->getPrice(),true,false) ?></div>
                        <a href="<?php echo $_product->getProductUrl() ?>" class="buynow">Buy Now</a>
                    </div>
   
     
<?php }

?>