<?php
$category1 = Mage::getModel('catalog/category')->load(8);
$category2 = Mage::getModel('catalog/category')->load(9);
$category3 = Mage::getModel('catalog/category')->load(10);

?>
<script>
    var spareurl='<?php echo $category3->getUrl(); ?>';
</script>
<div class="product_cate">
            	<div class="power_wear" onclick="location.href='<?php echo $category1->getUrl(); ?>'" style="cursor:pointer">
                	<h2>Power wear</h2>
                    <a href="<?php echo $category1->getUrl(); ?>">See More</a>
                </div>
                <div class="power_parts" onclick="location.href='<?php echo $category2->getUrl(); ?>'" style="cursor:pointer">
                	<h2>Power parts</h2>
                    <a href="<?php echo $category2->getUrl(); ?>">See More</a>
                </div>
                <div class="spare_parts_kits" id="various" style="cursor:pointer">
                	<h2>Spare Parts Kits</h2>
                    <a class="various" href="#filterproduct">See More</a>
                </div>
    </div>