<?php

$category3 = Mage::getModel('catalog/category')->load(10);

?>
<script>
    var spareurl='<?php echo $category3->getUrl(); ?>';
  
    var modeltypeurl='<?php echo Mage::getUrl("mapattribute/index/getModeltype")?>';
    var modelUrl='<?php echo Mage::getUrl("mapattribute/index/getModel")?>';
    var seoUrl='<?php echo Mage::getUrl("mapattribute/index/getUrl")?>';
</script>
<div style="display:none">
	
    <div id="filterproduct">
        <?php
       $filtercol= Mage::getModel('mapattribute/mapattr')->getCollection()
       ->addFieldToSelect('*');
       $filtercol->getSelect()->group(array('main_table.model_year'));
     
     $option_arr = array();
				$attribute = Mage::getModel('eav/config')->getAttribute('catalog_product', 'model_year');
				foreach ($attribute->getSource()->getAllOptions(false) as $option) {
				  $option_arr[$option['value']] = $option['label'];
				}

      
        ?>
        <div class="year">
        	<label>Year</label>
            <select name="year" id="year" class="custom-select1">
               <option value="">Select Year</option>
               <?php
                foreach($filtercol as $row){
                    $Year= $row->getModelYear();
                   
               if($option_arr[$Year]!=''){
                echo '<option value="'.$Year.'">'.$option_arr[$Year].'</option>';
               }
                }?>
                
            </select>
        </div>
        <div class="model_type">
        	<label>Model Type</label>
            <select name="model_type" id="model_type" class="custom-select1">
              <option value="">Select Model Type</option>  
                
            </select>
        </div>
        <div class="model">
        	<label>Model</label>
            <select name="model" id="model" class="custom-select1">
                <option value="">Select Model</option>
                
            </select>
        </div>
        <div class="start_search">
            <input type="button" id="findkit" value="Start Search" class="btn btn_start_search" />
        </div>
    </div>
</div>
