<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $collection = $this->getDetails(); ?>
<div class="news-title">
    <h1><?php echo $collection->getTitle(); ?></h1>
</div>
<div class="newsevents">
	<div class="newseventslist">
    	<div class="newstime"><?php echo $this->formatDate($collection->getPubdate()) ?></div>
    	<div class="newspic"><img src="<?php echo $this->resizeImg($collection->getImage()); ?>" alt="<?php echo $collection->getTitle(); ?>" /></div>
        <div class="newsdetails"><?php echo $collection->getDetails(); ?></div>
        <div class="news_readmore"><button type="button" onclick="location.href='<?php echo Mage::getUrl("news-events")?>'">Back</button></div>
    </div>
</div>
