<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $collection = $this->getCollection(); ?>
<div class="page-title">
    <h1><?php echo $this->__('Latest News & Events') ?></h1>
</div>
<?php echo $this->getPagerHtml(); ?>
<?php if($collection->getSize()): ?>

<div class="news_events">
	<?php $_odd = ''; ?>
    <?php foreach ($collection as $_obj): ?>
	<div class="news_events_list">
    	<div class="col-xs-3 col-sm-3 col-md-3 news_pic"><img src="<?php echo $this->resizeImg($_obj->getImage(),"300","300"); ?>" alt="<?php echo $_obj->getTitle(); ?>" /></div>
        <div class="col-xs-9 col-sm-9 col-md-9">
        	<div class="col-xs-12 col-sm-9 col-md-9 news_title"><?php echo $_obj->getTitle(); ?></div>
            <div class="col-xs-12 col-sm-3 col-md-3 news_time"><?php echo $this->formatDate($_obj->getPubdate()) ?></div>
            <div class="col-xs-12 col-sm-12 col-md-12 news_details"><?php echo substr($_obj->getDetails(),0,500); ?></div>
            <div class="col-xs-12 col-sm-12 col-md-12 news_read_more"><button type="button" onclick="location.href='<?php echo Mage::getUrl("news-events/index/details/")?><?php echo "?id=".$_obj->getId()?>'">Read more...</button></div>
        </div>
    </div>
    <?php endforeach; ?>
</div>
<script type="text/javascript">decorateTable('my-custom-table');</script>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('No News or Event.'); ?></p>
<?php endif ?>